name: CI
on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Run Lints
      uses: lunarmodules/luacheck@v1
      with:
        args: lua/trim

  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        rev: [nightly, stable, v0.10.4]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: rhysd/action-setup-vim@v1
      with:
        neovim: true
        version: ${{ matrix.rev }}
    - name: Prepare
      run: |
        git clone --depth 1 https://github.com/nvim-lua/plenary.nvim ../plenary.nvim
    - name: Run Tests
      run: |
        nvim --version
        [ ! -d tests ] && exit 0
        nvim --headless -u tests/init.lua -c "PlenaryBustedDirectory tests/ {minimal_init = 'tests/init.lua', sequential = true}"

  docs:
    runs-on: ubuntu-latest
    needs: [lint, tests]
    if: ${{ github.ref == 'refs/heads/master' }}
    steps:
    - uses: actions/checkout@v6
    - name: panvimdoc
      uses: kdheepak/panvimdoc@main
      with:
        vimdoc: trim.nvim
        version: "Neovim >= 0.7.0"
        demojify: true
        treesitter: true
    - name: Push changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "chore(build): auto-generate vimdoc"
        commit_user_name: "github-actions[bot]"
        commit_user_email: "github-actions[bot]@users.noreply.github.com"
        commit_author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
