name: CI
on:
  push:
  pull_request:

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - name: Install Neovim
      shell: bash
      run: |
        mkdir -p /tmp/nvim
        wget -q https://github.com/neovim/neovim/releases/download/nightly/nvim.appimage -O /tmp/nvim/nvim.appimage
        cd /tmp/nvim
        chmod a+x ./nvim.appimage
        ./nvim.appimage --appimage-extract
        echo "/tmp/nvim/squashfs-root/usr/bin/" >> $GITHUB_PATH
    - name: Run Lints
      uses: lunarmodules/luacheck@v1
      with:
        args: lua/trim
    - name: Run Tests
      run: |
        alias nvim="/tmp/nvim-linux64/bin/nvim"
        nvim --version
        [ ! -d tests ] && exit 0
        nvim --headless -u tests/init.lua -c "PlenaryBustedDirectory tests/ {minimal_init = 'tests/init.lua', sequential = true}"

  docs:
    runs-on: ubuntu-latest
    needs: tests
    if: ${{ github.ref == 'refs/heads/master' }}
    steps:
    - uses: actions/checkout@v5
    - name: panvimdoc
      uses: kdheepak/panvimdoc@main
      with:
        vimdoc: trim.nvim
        version: "Neovim >= 0.7.0"
        demojify: true
        treesitter: true
    - name: Push changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "chore(build): auto-generate vimdoc"
        commit_user_name: "github-actions[bot]"
        commit_user_email: "github-actions[bot]@users.noreply.github.com"
        commit_author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
